body {
  font-family: monospace;
  background: #16165b url('assets/images/1358310.png') center center / cover;
  padding: 20px;
  text-align: center;
  height: 150vh;
}

.container {
  width: 700px;
  max-width: 100%;
  height: 500px;
  margin: 50px auto;
  background: rgba(0, 0, 0, 0.851);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card {
  background: rgba(255, 255, 255, 0.573);
  padding: 45px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}